# if ! has nix_direnv_version || ! nix_direnv_version 2.2.0; then
#   source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.0/direnvrc" "sha256-5EwyKnkJNQeXrRkYbwwRBcXbibosCJqyIUuz9Xq+LRc="
# fi

# if flake in custom folder
# watch_file flake/devenv.nix
# watch_file flake/flake.nix
# watch_file flake/flake.lock
# use flake path:flake --no-pure-eval
#
watch_file ./devenv.nix
watch_file ./flake.nix
watch_file ./flake.lock
use flake . --no-pure-eval
